{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<title>twitterPolling</title>
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'leaflet.css' %}" />
	<script src="{% static 'leaflet.js' %}"></script>
	<script src="{% static 'twitter.js' %}"></script>
</head>
<body>
	<div class="container">
		<div class="container">
			<p></p>
		</div>
		<div class="jumbotron">
			<h1>{{ text }}</h1> <h4>cerca de Buenos Aires</h4>
		</div>

		<form method="POST" action="/searchText/">
			<div class="form-group">
				{% csrf_token %}
				<input type="text" name="textfield">
				<button class="btn btn-primary" type="submit">Buscar!</button>
			</div>
		</form>

		<h3>Mapa de Tweets</h3>
		<div id="map" style="width: 1000px; height: 600px"></div>


		<script src="{% static 'simpleMap.js' %}"></script>

		<h3>Listado de Tweets</h3>
		<div class="container">
			<ul>
				{% for tweet in tweets %}
				
				{% block twit %}{% endblock %}
			</br>

			{% endfor %}
		</ul>
	</div>

</div>
</body>
</html>